.classesRows > td {
    padding: 20px;
    font-weight: 700;
    letter-spacing: normal;
    font-family: Open Sans,sans-serif;
}

.classesRows > button {
    margin-top: 17px;
    margin-left: 10px;
}